<div class="container">
  <div class="headers">
    <% if @flats == [] %>
      <h3 class="my-3">Sorry, no results matched your search ...</h3>
    <% elsif @search && @flats != [] %>
      <h3 class="my-3">You searched for <%= @search %>. Here are you results.</h3>
    <% else !@search %>
      <h3 class="my-3">All of our (<%= Flat.count %>) flats</h3>
    <% end %>
  </div>
  <div class="row">
    <%  @flats.each do |flat|%>
    <div class="card m-3 shadow-sm mx-auto" style="width: 21rem;">
      <img class="card-img-top" src="https://source.unsplash.com/collection/<%= [3639792, 1582764, 3379521, 1945110, 4753897].sample %>/1000x500" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title"><%= flat.name  %></h5>
          <p class="card-text"><%= flat.address %></p>
          <div class="details d-flex justify-content-between m-2">
            <p><i class="fas fa-users display-wrap"> <%= flat.number_of_guests %></i></p>
            <p><i class="fas fa-dollar-sign"> <%= flat.price_per_night %> </i></p>
          </div>
      </div>
      <div class="links d-flex justify-content-around border-top p-4">
        <%= link_to 'Details', flat_path(flat), class: "card-link" %>
        <%= link_to 'Edit', edit_flat_path(flat), class: "card-link" %>
        <%= link_to 'Remove', flat_path(flat), method: :delete, data: { confirm: "Delete?" }, class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>

</div>
